html {
  box-sizing: border-box;
  width: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: "Lato", sans-serif;
  line-height: 20px;
  font-size: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.header {
  background-color: #e8ebf1;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.07);
}

.container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo a {
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  color: #2aacc8;
}

.header__logo span {
  font-weight: 900;
  color: #000;
}

.header__menu {
}

.header__menu-list {
  margin-right: 18px;
}

.header__menu-item {
  display: inline-block;
}

.header__menu-item + .header__menu-item {
  margin-left: 50px;
}

.header__menu-item:nth-child(5) {
  margin-left: 25px;
}

.header__menu-link {
  padding: 9px 0px 13px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
}

.header__menu-dropdown {
  position: relative;
}

.header__menu-dropdown > a {
  position: relative;
  padding-left: 11px;
  padding-right: 26px;

  border-top: 5px solid transparent;
  border-left: 1px solid #e8ebf1;
  transition: all 0.3s;
}

.header__menu-dropdown.dropdown {
  margin-left: 39px;
}

/* .header__menu-dropdown > a:hover {
  background-color: #fff;
  color: #2aacc8;
  border-top: 5px solid #2aacc8;
} */

.header__menu-dropdown > a::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 5px;
  top: 15px;
  right: 10px;
  background-image: url(../images/icons/down-arrow.svg);
}

.header__menu-dropdown.dropdown {
  margin-left: 26px;
}

.dropdown {
}

.dropdown__list {
  position: absolute;
  width: 200px;
  background-color: #fff;
  border: 1px solid rgb(232, 235, 241);
  border-bottom: 5px solid #2aacc8;
  border-top: none;
  box-shadow: 0px 5px 0px 0px rgba(42, 172, 200, 0.004);
  display: none;
  transition: all 0.3s;
  z-index: 1;
}

.dropdown__list:hover {
  display: block;
}

.header__menu-dropdown > a:hover + .dropdown__list {
  display: block;
}

.header__menu-dropdown.dropdown:hover .dropdown__list {
  display: block;
}

.header__menu-dropdown.dropdown:hover > a {
  background-color: #fff;
  color: #2aacc8;
  border-top: 5px solid #2aacc8;
}

.dropdown__list li {
  margin: 0px 5px;
}

.dropdown__list li + li a {
  width: 100%;
  border-top: 1px solid #e7e7e7;
}

.dropdown__list a {
  padding: 0 11px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  line-height: 2.769;
}

.dropdown__list a:hover {
  color: #2aacc8;
}

.slider {
  background-color: rgb(129, 228, 237);
  padding: 20px 0 14px;
}

.slider__inner {
}

.slider__item {
  background-image: url(../images/slider-bg.jpg);
  min-height: 440px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider__title {
  width: 300px;
  margin-left: 60px;
  padding-top: 90px;

  font-weight: 700;
  font-size: 50px;
  color: #fff;
  line-height: 1.2;

  /* line-height: 1.2; */
}

.slick-dots {
  text-align: center;
  height: 26px;
}

.slick-dots li {
  display: inline-block;
  height: auto;
  width: auto;
}

.slick-dots li + li {
  padding-left: 17px;
}

.slick-dots li button {
  width: 14px;
  height: 14px;
  margin-top: 12px;

  background-color: rgb(98, 98, 98, 0.5);
  border-radius: 50%;
  border: none;
  font-size: 0;
  outline: none;
  cursor: pointer;
}

.slick-dots .slick-active button {
  background-color: #fff;
}

.items {
  background-color: #e8ebf1;
  padding: 50px 0 60px;

  border: 1px solid rgb(0, 0, 0, 0.15);
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.07);
}

.items__inner {
  display: flex;
  justify-content: space-between;
}

.items__inner-item {
}

.item {
  width: 225px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #363636;
}

.item__title {
  position: relative;
  margin-bottom: 30px;
  padding: 10px 0 0 60px;

  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}

.item__title::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
}

.item:nth-child(1) .item__title::before {
  background-image: url(../images/icon-1.png);
}

.item:nth-child(2) .item__title::before {
  background-image: url(../images/icon-2.png);
}

.item:nth-child(3) .item__title::before {
  background-image: url(../images/icon-3.png);
}
.item:nth-child(4) .item__title::before {
  background-image: url(../images/icon-4.png);
}

.item__text {
  margin-bottom: 30px;
}

.item__link {
  position: relative;
  padding-left: 15px;
  color: #2aacc8;
}

.item__link::before {
  position: absolute;
  content: "";
  background-image: url(../images/small-arow.svg);
  width: 5px;
  height: 7px;
  top: 50%;
  transform: translateY(-50%);
  left: 1px;
}

.works__title {
  padding: 25px 0 15px 40px;
  position: relative;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.works__title::before {
  position: absolute;
  content: "";
  left: 0;
  top: 20px;
  background-image: url(../images/cursor.svg);
  width: 14px;
  height: 24px;
}

.works__inner {
  position: relative;
  padding: 20px 0 40px;
  border-top: 1px solid #dfe1e5;
  border-bottom: 1px solid #dfe1e5;
}

.works__inner-item {
  text-align: center;
}

.works__inner-item:hover .works__inner-box {
  height: 82px;
}
.works__inner-box {
  position: absolute;
  width: 220px;
  height: 0;
  bottom: 0;
  background-color: #2aacc8;

  transition: all 0.3s;
}

.works__inner-box::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 23px;
  background-image: url(../images/preview.svg);
  background-repeat: no-repeat;
  top: 30px;
  left: 69px;
}

.works__inner-box::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 25px;
  background-image: url(../images/link.svg);
  background-repeat: no-repeat;
  top: 29px;
  right: 61px;
}

.works__inner .slick-next,
.works__inner .slick-prev {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #81e4ed;
  border-radius: 50%;
  border: none;
  outline: none;
  top: -40px;
  right: 0;
}

.works__inner .slick-prev {
  right: 31px;
}

.works__inner .slick-next img,
.works__inner .slick-prev img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  padding-top: 19px;
  padding-bottom: 41px;
}

.box__inner {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.box__testimonials {
  max-width: 420px;
}

.box__testimonials-title {
  position: relative;
  margin-bottom: 18px;
}

.box__testimonials-title::before {
  position: absolute;
  content: "";
  background-image: url(../images/comments.svg);
  width: 24px;
  height: 23px;
  top: 0;
  left: 0;
}

.title {
  padding-left: 40px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.333;
}

.box__testimonials-text {
  font-size: 14px;
  line-height: 1.714;
}

.box__testimonials-author {
  margin-top: 35px;
  font-weight: 700;
  font-style: italic;
}

.box__clients {
  max-width: 480px;
}

.box__clients-title {
  margin-bottom: 20px;
  position: relative;
}

.box__clients-title::before {
  position: absolute;
  content: "";
  background-image: url(../images/clients.svg);
  width: 24px;
  height: 20px;
  top: 0;
  left: 0;
}

.box__clients-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.box__clients-item {
  width: 159px;
  height: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(232, 235, 241);
  box-shadow: inset 0px 0px 25px 0px rgb(232, 235, 241);
}

.box__clients-link {
}

.box__download {
  padding: 35px 40px 38px;
  border: 1px solid rgb(129, 228, 237);
  background-color: rgb(232, 252, 254);
}
.box__download-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box__download-text {
  max-width: 600px;
  font-size: 18px;
  color: rgb(54, 54, 54);
  line-height: 1.625;
}
.box__download-btn {
  display: inline-block;
  position: relative;
  width: 248px;
  padding: 23px 20px 23px 70px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.111;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(13, 7, 7);

  border: 1px solid rgb(42, 172, 200);
  border-radius: 8px;
  background-image: -moz-linear-gradient(
    90deg,
    rgb(42, 172, 200) 0%,
    rgb(96, 206, 222) 15%,
    rgb(114, 218, 230) 50%,
    rgb(129, 228, 237) 100%
  );
  background-image: -webkit-linear-gradient(
    90deg,
    rgb(42, 172, 200) 0%,
    rgb(96, 206, 222) 15%,
    rgb(114, 218, 230) 50%,
    rgb(129, 228, 237) 100%
  );
  background-image: -ms-linear-gradient(
    90deg,
    rgb(42, 172, 200) 0%,
    rgb(96, 206, 222) 15%,
    rgb(114, 218, 230) 50%,
    rgb(129, 228, 237) 100%
  );
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.1);
}

.box__download-btn::before {
  position: absolute;
  content: "";
  background-image: url(../images/download.svg);
  width: 28px;
  height: 25px;
  top: 50%;
  transform: translateY(-50%);
  left: 18px;
}
