html {
  box-sizing: border-box;
  width: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: "Lato", sans-serif;
  line-height: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.header {
  background-color: #e8ebf1;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.07);
}

.container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo a {
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  color: #2aacc8;
}

.header__logo span {
  font-weight: 900;
  color: #000;
}

.header__menu {
}

.header__menu-list {
  margin-right: 18px;
}

.header__menu-item {
  display: inline-block;
}

.header__menu-item + .header__menu-item {
  margin-left: 50px;
}

.header__menu-item:nth-child(5) {
  margin-left: 25px;
}

.header__menu-link {
  padding: 9px 0px 13px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
}

.header__menu-dropdown {
  position: relative;
}

.header__menu-dropdown > a {
  position: relative;
  padding-left: 11px;
  padding-right: 26px;

  border-top: 5px solid transparent;
  border-left: 1px solid #e8ebf1;
  transition: all 0.3s;
}

.header__menu-dropdown.dropdown {
  margin-left: 39px;
}

/* .header__menu-dropdown > a:hover {
  background-color: #fff;
  color: #2aacc8;
  border-top: 5px solid #2aacc8;
} */

.header__menu-dropdown > a::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 5px;
  top: 15px;
  right: 10px;
  background-image: url(../images/icons/down-arrow.svg);
}

.header__menu-dropdown.dropdown {
  margin-left: 26px;
}

.dropdown {
}

.dropdown__list {
  position: absolute;
  width: 200px;
  background-color: #fff;
  border: 1px solid rgb(232, 235, 241);
  border-bottom: 5px solid #2aacc8;
  border-top: none;
  box-shadow: 0px 5px 0px 0px rgba(42, 172, 200, 0.004);
  display: none;
  transition: all 0.3s;
  z-index: 1;
}

.dropdown__list:hover {
  display: block;
}

.header__menu-dropdown > a:hover + .dropdown__list {
  display: block;
}

.header__menu-dropdown.dropdown:hover .dropdown__list {
  display: block;
}

.header__menu-dropdown.dropdown:hover > a {
  background-color: #fff;
  color: #2aacc8;
  border-top: 5px solid #2aacc8;
}

.dropdown__list li {
  margin: 0px 5px;
}

.dropdown__list li + li a {
  width: 100%;
  border-top: 1px solid #e7e7e7;
}

.dropdown__list a {
  padding: 0 11px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  line-height: 2.769;
}

.dropdown__list a:hover {
  color: #2aacc8;
}

.slider {
  background-color: rgb(129, 228, 237);
  padding: 20px 0 14px;
}

.slider__inner {
}

.slider__item {
  background-image: url(../images/slider-bg.jpg);
  min-height: 440px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider__title {
  width: 300px;
  margin-left: 60px;
  padding-top: 90px;

  font-weight: 700;
  font-size: 50px;
  color: #fff;
  line-height: 1.2;

  /* line-height: 1.2; */
}

.slick-dots {
  text-align: center;
  height: 26px;
}

.slick-dots li {
  display: inline-block;
  height: auto;
  width: auto;
}

.slick-dots li + li {
  padding-left: 17px;
}

.slick-dots li button {
  width: 14px;
  height: 14px;
  margin-top: 12px;

  background-color: rgb(98, 98, 98, 0.5);
  border-radius: 50%;
  border: none;
  font-size: 0;
  outline: none;
  cursor: pointer;
}

.slick-dots .slick-active button {
  background-color: #fff;
}

.items {
  background-color: #e8ebf1;
  padding: 50px 0 60px;

  border: 1px solid rgb(0, 0, 0, 0.15);
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.07);
}

.items__inner {
  display: flex;
  justify-content: space-between;
}

.items__inner-item {
}

.item {
  width: 225px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #363636;
}

.item__title {
  position: relative;
  margin-bottom: 30px;
  padding: 10px 0 0 60px;

  color: #000;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.item__title::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
}

.item:nth-child(1) .item__title::before {
  background-image: url(../images/icon-1.png);
}

.item:nth-child(2) .item__title::before {
  background-image: url(../images/icon-2.png);
}

.item:nth-child(3) .item__title::before {
  background-image: url(../images/icon-3.png);
}
.item:nth-child(4) .item__title::before {
  background-image: url(../images/icon-4.png);
}

.item__text {
  margin-bottom: 30px;
}

.item__link {
  position: relative;
  padding-left: 15px;
  color: #2aacc8;
}

.item__link::before {
  position: absolute;
  content: "";
  background-image: url(../images/small-arow.svg);
  width: 5px;
  height: 7px;
  top: 50%;
  transform: translateY(-50%);
  left: 1px;
}
